/*Медиазапросы*/

/* LIBS*/

/* ______________________________________ */ 



/*Small devices (landscape phones, 576px and up sm*/
@media (max-width: 576px) { 
	.card-composition-big-headline{
		font-size: 100px;
	}
	.brown-headline{
		font-size: 35px;
	}
	.active-text-photo{
		height: unset;
	}	
	.photo-shadow img,
	.photo-shadow{
		width: 278px;
		height: 176px;
	}
	header{
		height: 100vh;
	}
	.about-composition{
		padding-bottom: 13%;
	}
	
	.gallery-items img{
		width: 100%;
	}
	.gallery-row-1{
		margin-bottom: unset;
	}
	.gallery-row-1 :first-child img{
		margin-bottom: unset;
		padding-left: unset;
	}
	.gallery-row-2 :first-child img{
		margin-top: unset;
	}
	.gallery-row-3{
		margin-top: unset;
	}
	#GALLERY img{
		margin-top: 20px;
		border-radius: 3px;
		box-shadow: 0 0 10px rgba(0,0,0,0.6);
	}
	#CONTACT .brown-headline{
		font-size: 30px;
	}
 }
/* ______________________________________ */ 

/* Medium devices (tablets, 768px and up md)*/
@media (max-width: 768px) { 
	.about-photo{
		margin: 0;
		padding: 0;
		height:500px;
	}
	.contact-photo{
		display: none;
		
	}
	.contact-composition{
		padding: 5% 3% 10% 5% !important;
	}
 }
/* ______________________________________ */ 

/* Large devices (desktops, 992px and up lg)*/
@media (max-width: 992px) and (min-width: 576px) { 
	.gallery-row-2 :first-child img{
		margin-top: -300px;
	}
	.gallery-row-1 :last-child img{
		margin-top: 90px;
	}
	.gallery-row-3 :first-child img{
		margin-top: -1000px;
		height: 280px;
	}
	.gallery-row-2 :last-child img{
		padding-top: 60px;
	}
	.gallery-row-3{
		margin-top: unset;
	}
	.gallery-hidden-row-1 :first-child img{
		margin-top: 80px;
	}
	 .gallery-hidden-row-1 :last-child img{
		margin-top: -20px;
	 }
	 .gallery-hidden-row-1{
		margin-top: 40px;
	 }
	 .gallery-hidden-row-2{
		 margin-top: -210px;
	 }
	 .gallery-hidden-row-2 :last-child img{
		margin-top: 30px;
	}

 }
 @media (min-width: 992px){
	 .gallery-hidden-row-1 :first-child img,
	 .gallery-hidden-row-1 :last-child img{
		margin-top: -80px;
	 }
	 .gallery-hidden-row-1{
		 margin-top: 20px;
	 }
	 .gallery-hidden-row-2{
		 margin-top: 20px;
	 }
 }
/* ______________________________________ */ 

@media (max-width: 1200px) { 
	.LA-item{
		margin-top: 100px;
	}
	#LA .text{
		width: 100%;
	}
 }
/* Extra large devices (large desktops, 1200px and up xl)*/
@media (min-width: 1200px) { 
	.container{
		max-width: 1320px !important;
	}
	.about-photo{
		/* margin-bottom: -80px;
		margin-top: -80px; */
	
	
}