/*Стиизация меню*/
body{
  background-color: #f2efef;
}
.container{
  text-align: justify;
  position: relative;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}
.fixed-menu ul,li{
  padding: 0;
  margin: 0;
  list-style: none;
  
}
a,a:hover,a:focus,a:active{
  text-decoration: none;
  color: unset;
}
.fixed-menu{
  box-shadow: 0 0 5px rgba(0,0,0,0.7);
  border-radius: 1em;
  margin: 0 auto;
  z-index: 999;
  color: #37474f;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  position: fixed;
  display: inline-flex;
  justify-content: space-between;
  width: 80%;
  left: 50%; margin-left: -40%; /*Вот такая вот адаптивность*/
  background-color: #fff;
  top: 10px;
  height: 80px; /*Высота меню*/
   transition: .5s;
}
.fixed-menu:hover{
 
  box-shadow: 0 0 20px rgb(0, 0, 0);
/*   transform: scale(1.01, 1.01) */
}
.menu-logo{
  align-self: center;
  font-size: 25px;  /**********/
  margin-left: 5%; /*Отступ логотипа слева*/
}
.menu-logo img{
  opacity: .7;
  height: 70px
}
.menu-links{
  position: relative;
  right: 10%;
  align-self: center;
  display: flex; 
  justify-content: space-around; 
  width: 60%; /*Ширина блока с ссылками*/
}
.fixed-menu li a{ 
  margin-left: 15px;
  text-transform: uppercase;
  font-weight: 600;
  display: block;
  padding: 10px 0;
  position: relative;
  line-height: 1.5;
}
.fixed-menu  li a::after,
.fixed-menu  li a::before{
    transition: .3s;
    position: absolute;
    content: '';
    left: 50%;
    display: block;
    width: 0;
    background-color: #37474F;
    height: 2px;
} 
.fixed-menu  li a::after,{
   bottom: 0px;
}
.fixed-menu  li a::before{
    margin-top: -3.5px;
}
.fixed-menu  li a:hover::after,
.fixed-menu  li a:hover::before{
    width: 100%;
    border-radius: 50%;
    left: 0;
    right: 0;
}   
.container{
  position: relative;
  top: 130px;
}

#button-menu{
  transition: .5s;
 z-index: 1000;
  position: fixed;
  background-color: #f2efef;
 top: 30px;
 right: 12%;
 cursor: pointer;
 width: 40px;
 height: 40px;
 border-radius: 20%;
 box-shadow: 0 0 4px rgba(0,0,0,0.9);
}
#button-menu:hover{
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.inner, 
.inner::after, 
.inner::before{
  display: block;
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 1px);
  height: 19px;
  width: 2px;
  background-color: #222;
  transition: .5s;
}
.inner::before{
  content: "";
  display: block;
  transform: rotate(30deg);
  margin-left: -3.1px;
  height: 10px;
}
.inner::after{
  content: "";
  display: inline;
  transform: rotate(-30deg);
  left: 3px;
  height: 10px;
}

.menu-hide .inner::before{
  transform: rotate(-20deg);
  top: 9px;
  left: 1.5px;
}
.menu-hide .inner::after{
  transform: rotate(20deg);
  top: 9px;
  left: 2.3px;
}
.menu-hide{
  border-radius: 50% !important;
}
.menu-trans{
  transform: translateY(-90px)
}
section{
  margin-top: 20vh;
  height: 100vh;
}