/*.emailForm{
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	overflow: hidden;
	border-radius: 4px;
	width: 100%;
	max-width: 380px;
	height: 50px;
	position: relative;
}
.email-input{
	padding: 0 20px;
	border: none;
	width: 85%;
	height: 100%;
	background-color: var(--accent);
	position: absolute;
	color: var(--text);
}
.email-input::placeholder{
	color: var(--text) !important;
}
.email-btn{
	cursor: pointer;
	border: none;
	position: absolute;
	right: 0;
	border-left: 1px solid #fff;
	width: 15%;
	height: 100%;
	background-color: var(--accent);
}
.email-btn .fa{
	font-size: 25px;	
}
.fastCallback span{
	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
	font-size: 14px;
	max-width: 400px;
}
.fastCallback{
	display: flex;
	justify-content: space-between;
}
===================================================

}*/

/* VARIABLES */
:root{
	--accent: #006CF4;
	--subAc: rgb(39, 41, 202);
	--brown: rgb(219, 179, 179);
	--text: #fff;
}
body{
	z-index: 0;
	overflow-x:hidden;
}
/* ГЛОБАЛЬНЫЕ СТИЛИ *//* ГЛОБАЛЬНЫЕ СТИЛИ *//* ГЛОБАЛЬНЫЕ СТИЛИ *//* ГЛОБАЛЬНЫЕ СТИЛИ *//* ГЛОБАЛЬНЫЕ СТИЛИ */
*{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	color: var(--text);
}
ul,li{
	list-style: none;
}
a,a:focus,a:hover,a:active{
	text-decoration: none;
	color: var(--text)
}
.title{
	/* white-space: nowrap; */
	font-size: 50px;
	color: var(--text);
	font-family: 'Neucha', cursive;
	font-weight: 400;
}
.text{
	font-size: 15px;
	font-weight: 400;
	color: var(--text);
}
.button-main{
	border: 1px solid #fff;
	background: -webkit-gradient(linear, left bottom, left top, from(var(--subAc)), to(var(--accent)));
	background: -webkit-linear-gradient(bottom, var(--subAc), var(--accent));
	background: -o-linear-gradient(bottom, var(--subAc), var(--accent));
	background: linear-gradient(to top, var(--subAc), var(--accent));
	padding: 10px 30px;
	border-radius: 4px;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 14px;
	cursor: pointer;
}
.button-main:hover{
	background: transparent;
}
.button-main:focus{
	outline: none;
}
textarea:placeholder-shown,
input:placeholder-shown,
textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder{
	color: var(--text);
}
textarea:placeholder-shown,
input:placeholder-shown,
textarea:-ms-input-placeholder,
input:-ms-input-placeholder{
	color: var(--text);
}
textarea:placeholder-shown,
input:placeholder-shown,
textarea::-ms-input-placeholder,
input::-ms-input-placeholder{
	color: var(--text);
}
textarea:placeholder-shown,
input:placeholder-shown,
textarea::placeholder,
input::placeholder{
	color: var(--text);
}
/***************************************************************************************************************/

/*BURGER*//*BURGER*//*BURGER*//*BURGER*//*BURGER*//*BURGER*//*BURGER*//*BURGER*//*BURGER*//*BURGER*//*BURGER*//*BURGER*/
.burger-box{
	top: 2vw;
	right: 4vw;
	height: 42px;
	width: 30px;	
	z-index: 1000;
	position: fixed;
	cursor: pointer
}
.burger,
.burger::before,
.burger::after{
	text-align: center;
	-webkit-transition: -webkit-transform .35s;
	transition: -webkit-transform .35s;
	-o-transition: transform .35s;
	transition: transform .35s;
	transition: transform .35s, -webkit-transform .35s;
	position: absolute !important;
	border-radius: 2px;
	width: 30px;
	height: 4px;
	background-color: #ffffff;
	top: calc(50% - 2.5px);
}
.burger::before{
	content: '';
	display: block;
	margin-top: -9px;
}
.burger::after{
	content: '';
	display: block;
	margin-top: 11px;
}
.burger-js{
	height: 0;
}
.burger-js::before{
	-webkit-transform:  rotate(135deg);
	    -ms-transform:  rotate(135deg);
	        transform:  rotate(135deg);
	margin-top: 0;
}
.burger-js::after{
	margin-top: 0;
	-webkit-transform: rotate(-135deg);
	    -ms-transform: rotate(-135deg);
	        transform: rotate(-135deg);
}
/***************************************************************************************************************/
/*HIDDEN MENU*//*HIDDEN MENU*//*HIDDEN MENU*//*HIDDEN MENU*//*HIDDEN MENU*//*HIDDEN MENU*//*HIDDEN MENU*//*HIDDEN MENU*/
.hiddenMenu{
	background-color: rgba(0, 0, 0, 0.9);
	position: fixed;
	z-index: 900;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	display: none;
}
.hiddenMenu-wrap{
	z-index: 991;
	height: 100%;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-top: -6%;
}
#del-amin-1{
	-webkit-animation-delay: 0s;
	        animation-delay: 0s;
}
#del-amin-2{
	-webkit-animation-delay: 0.1s;
	        animation-delay: 0.1s;
}
#del-amin-3{
	-webkit-animation-delay: 0.2s;
	        animation-delay: 0.2s;
}
.hiddenMenu-wrap a{
	display: block;
	-webkit-animation-duration: .4s;
	        animation-duration: .4s;
	width: 100vw;
	padding: 20px 0;
	text-align: center;
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}
.hiddenMenu-link{
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
	font-size: 17px;
}
.hiddenMenu-wrap a:hover{
	cursor: pointer;
	background-color: #15335ab0;
}
.hiddenMenu-js{
	display: block;
}
.hiddenMenu-contact{
	-webkit-animation-duration: .5s;
	        animation-duration: .5s;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 2%;
	margin-left: 2%;
}
.hiddenMenu-contact-item .fa{
	font-size: 20px;
	color: var(--brown);
}
.hiddenMenu-contact-item{
	margin-left: 10px;
}
/*HEADER*//*HEADER*//*HEADER*//*HEADER*//*HEADER*//*HEADER*//*HEADER*//*HEADER*//*HEADER*//*HEADER*//*HEADER*/
#s-header{
	overflow: hidden;
	position: relative;
	min-height: 100vh;
	background: url(/img/bg-header/main-bg.png) no-repeat #006EE6 bottom center / cover;
	background-attachment: fixed;
}
.bg-right,
.bg-left{
	z-index: 0;
	position: absolute;
	-webkit-animation-duration: 2s;
	        animation-duration: 2s;
	-webkit-animation-delay: .5s;
	        animation-delay: .5s;
}
.bg-right{
	width: 30%;
	right: 0;
	bottom: 0;
}
.bg-left{
	width: 50%;
	bottom: 0;
	left: 0;
}
.arrow{
	cursor: pointer;
	position: absolute;
	width: 100%;
	bottom: 30px;
	left: 50%;
	text-align: center;
	width: 40px;
	margin-left: -20px;	
	font-size: 40px;
}
.arrow i{
	opacity: .5;
}
.arrow i:hover{
	opacity: 1;
}
.header-composition{
		font-family: 'Neucha', cursive;	
	margin-top: 24%;
}
.header-hello{
	font-family: 'Neucha', cursive;	
	margin-left: -10px;
	-webkit-animation-delay: .4s;
	        animation-delay: .4s;
	font-size: 75px;
	font-weight: 500;
}
.header-desc{
	font-family: 'Neucha', cursive;	
	-webkit-animation-delay: 1.3s;	
	        animation-delay: 1.3s;
	font-size: 20px;
	line-height: 1.6;
	margin-bottom: 30px;
	margin-top: -5px;
}
.button-js-header{
	-webkit-animation-delay: 2.3s;
	        animation-delay: 2.3s;
}
.animation-svg{
	margin-top: 20%;
	text-align: center;
}
.animation-svg > img{
	width: 400px;
}
/***************************************************************************************************************/
/*ABOUT*//*СЕКЦИЯ №2*//*ABOUT*//*СЕКЦИЯ №2*//*ABOUT*//*СЕКЦИЯ №2*//*ABOUT*//*СЕКЦИЯ №2*//*ABOUT*//*СЕКЦИЯ №2*//*ABOUT*//*СЕКЦИЯ №2*/
#s-about .button-main{
	margin-top: 20px;
}
.about{
	
	-webkit-animation-duration: 1s;
	
	        animation-duration: 1s;
	border-radius: 5px;
	margin-top: 10%;
	margin-bottom: 10%;
}
.big-title{
	font-size: 50px;
	font-weight: 500;
	margin-bottom: 30px;
}
#s-about{
	background-color: var(--accent);
	padding-top: 5%;
	padding-bottom: 10%;
}
.sub-title{
	color: var(--brown);
	margin-top: -35px;
	font-size: 16px;
	font-weight: 600;
}
.main-about{
	margin-top: 6%;
}
.about-title{
	margin-bottom: 30px;
	font-weight: 700;
}
.about-list-item{
	margin-bottom: 5px;
	font-size: 15px;
}
.about-list-item .fa{
	font-size: 18px;
	display: inline-block;
	width: 30px;
}
.about-desc{-webkit-animation-delay: .2s;animation-delay: .2s}
.about-can{-webkit-animation-delay: .4s;animation-delay: .4s}
.about-like{-webkit-animation-delay: .6s;animation-delay: .6s}



/*****************************************************************************************************/
/*ПОРТФОЛИО*//*ПОРТФОЛИО*//*ПОРТФОЛИО*//*ПОРТФОЛИО*//*ПОРТФОЛИО*//*ПОРТФОЛИО*//*ПОРТФОЛИО*//*ПОРТФОЛИО*//*ПОРТФОЛИО*//*ПОРТФОЛИО*/
#s-works{
	background: -webkit-gradient(linear, left top, left bottom, from(var(--accent)), to(var(--subAc)));
	background: -webkit-linear-gradient(var(--accent), var(--subAc));
	background: -o-linear-gradient(var(--accent), var(--subAc));
	background: linear-gradient(var(--accent), var(--subAc));
	padding: 5% 0 7% 0;
}	
.cards{
	margin-top: 5%;
}
.work-card{
	border-radius: 4px;
	width: 100%;
	height: 450px;
	/* position: relative; */
	padding: 0;
	overflow: hidden;
	-webkit-animation-duration: 2s;
	        animation-duration: 2s;
	-webkit-animation-delay: .2s;
	        animation-delay: .2s;
}
.inCard{
	display: none;
	-webkit-animation-duration: .5s;
	        animation-duration: .5s;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	text-align: center;
	padding: 20px;
}
.card-show{
	display: -webkit-box !important;
	display: -ms-flexbox !important;
	display: flex !important;
}
.card-none{
	-webkit-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
	opacity: 0;
}
.card-title{
	font-weight: 500;
	font-size: 19px;
}
.card-descr{
	font-size: 14px;
}
.show-btn{
	cursor: pointer;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-top: 40px;
	background: -webkit-gradient(linear, left bottom, left top, from(var(--subAc)), to(var(--accent)));
	background: -webkit-linear-gradient(bottom, var(--subAc), var(--accent));
	background: -o-linear-gradient(bottom, var(--subAc), var(--accent));
	background: linear-gradient(to top, var(--subAc), var(--accent));
	width: 70%;
	height: 40px;
	border-radius: 4px;
}

.work-card-1{
	background: url(../img/site-1.png) no-repeat center center / cover;
	-webkit-animation-delay: .2s;
	        animation-delay: .2s;
}
.work-card-2 {
	background: url(../img/site-2.png) no-repeat center center / cover;
	-webkit-animation-delay: 0.4s;
	        animation-delay: 0.4s;
}
.work-card-3{
	background: url(../img/site-1.png) no-repeat center center / cover;
	-webkit-animation-delay: .6s;
	        animation-delay: .6s;
}
.work-card-4 {
	background: url(../img/site-2.png) no-repeat center center / cover;
	-webkit-animation-delay: 0.8s;
	        animation-delay: 0.8s;
}
/*****************************************************************************************************/


/*CONTACT*//*CONTACT*//*CONTACT*//*CONTACT*//*CONTACT*//*CONTACT*//*CONTACT*//*CONTACT*//*CONTACT*//*CONTACT*//*CONTACT*/
.about-contact-cocial .fa{
	color: var(--brown);
}
.about-inf-title{
	margin-bottom: 50px;
	font-weight: 500;
}
.about-contact .fa{
	font-size: 25px;
	margin-right: 10px;
} 
.about-main p{
	font-size: 14px;
	max-width: 400px;
}
.about-inf-subTitle{
	font-weight: 500;
	margin-bottom: 20px;
}
.list-adv-item .fa{
	font-size: 21px;
	display: inline-block;
	width: 30px;
}
.about-contact-cocial{
	margin-top: 10px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
#s-contact{
	padding: 3% 0 5% 0;
	background: -webkit-gradient(linear, left top, left bottom, from(var(--subAc)), to(var(--accent)));
	background: -webkit-linear-gradient(var(--subAc), var(--accent));
	background: -o-linear-gradient(var(--subAc), var(--accent));
	background: linear-gradient(var(--subAc), var(--accent))
}
.about-contact-item{
	font-weight: 600;
}
.about-contact-item span{
	font-weight: 400;
	color: var(--brown);
	text-decoration: underline;
}
.form-back{
	margin-top: 40px;
}
.small-inp{
	background-color: var(--subAc);
	border: none;
	padding: 0 20px;
	width: 100%;
	display: block;
	height: 40px;
	margin-bottom: 10px;
	border-radius: 6px;
}
.big-inp{
	background-color: var(--subAc);
	border: none;
	padding: 10px 20px;
	width: 100%;
	display: block;
	height: 120px;
	margin-bottom: 10px;
	border-radius: 6px;
}
#call-back{
	display: block;
	text-align: center !important;
}
.f-wrap{
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
	opacity: .4;
	width: 100vw;
	-webkit-transform: translateY(25px);
	    -ms-transform: translateY(25px);
	        transform: translateY(25px);

}
/*************************************************************************************************/
/*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*/
footer{
	overflow: hidden;
	background-color: var(--accent);
}
.footer-item{
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
	font-size: 20px;
	width: 20%;
	height: 40px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.footer-item:hover{
	width: 25%;
}
.f-vk{
	background-color: #4A76A8;
}
.f-tel{
	background-color: #2995CB;
}
.f-git{
	background-color: #000;
}
.f-ins{
	background-color: #A65DCB;
}
.f-google{
	background-color: #D84433;
}
.f-wrap:hover{
	opacity: 1;
	-webkit-transform: translateY(0);
	    -ms-transform: translateY(0);
	        transform: translateY(0);
	-webkit-transition-timing-function: ease;
	     -o-transition-timing-function: ease;
	        transition-timing-function: ease;
}
.popup{
	border: 1px solid #000;
	position: fixed;
	width: 70%;
	height: 60%;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	    -ms-transform: translate(-50%,-50%);
	        transform: translate(-50%,-50%);
	background-color: var(--accent);
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
	        box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
	border-radius: 6px;
}
.exit-popup{
	cursor: pointer;
	position: absolute;
	right: 0;
	top: -50px;
	font-size: 30px;
}
.wrap-popup{
	-webkit-animation-duration: .3s;
	        animation-duration: .3s;
	display: none;
	z-index: 1000;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.8);
}
.popup-show{
	display: block !important;
}
.popup{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	text-align: center;
}
.popup a{
	font-weight: 600;
	text-decoration: underline;
}