@media (max-width: 1256px){
    .grid{
       display: grid;
       grid-template-columns: repeat(3, 1fr);
    }
    .container{
        max-width: 879px;
    }
    .grid > *{
        min-height: 293px;
        box-sizing: border-box;
    }
    .card-find{
        grid-column: 1 / 3;
    }
    .card-txt_good-hands {
        grid-column: 1/3;
    }
    .card-txt_tall {
        grid-row: 5 / 8;
        grid-column: 3 /4;
    }
    .card-slider{
        min-height: 293px;
    }
    .card-drid{
        grid-column: 1 / 3;
    }
    .card-rewiew__small {
        grid-column: 2/3;
    }
}




@media (max-width: 576px){
    .grid{
        display: block;
    }
    .header-grig{
        display: flex;
        justify-content: space-between;
    }
    .grid-is-awesome{
        display: none;
    }
}