/*=============================================================================
em(px) -> convert pixel to em
@include font-face(Samplino, fonts/Samplino) -> include fonts
@include df-center; -> df / aic / jcc
=============================================================================*/

// pt to em
$browser-context: 16; // Default
@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

// =============================================================================
// String Replace
// =============================================================================

@function str-replace($string, $search, $replace: "") {
	$index: str-index($string, $search);

	@if $index {
		@return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
	}

	@return $string;
}

// =============================================================================
// Font Face
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
	$src: null;

	$extmods: (
		eot: "?",
		svg: "#" + str-replace($name, " ", "_")
	);

	$formats: (
		otf: "opentype",
		ttf: "truetype"
	);

	@each $ext in $exts {
		$extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
		$src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
	}

	@font-face {
		font-family: quote($name);
		font-style: $style;
		font-weight: $weight;
		src: $src;
	}
}

// =============================================================================
// flex - center center
// =============================================================================

@mixin df-center{
	display: flex;
	align-items: center;
	justify-content: center;
}

// =============================================================================
// btn
// =============================================================================

@mixin btn($color){
	white-space: nowrap;
	cursor: pointer;
	border-radius: 3px;
	background-color: $color;
	display: inline-block;
	padding: em(15) em(36);
	color: #ffffff !important;
	font-weight: 800;
	text-transform: uppercase;
	font-size: 14px;
	box-shadow: 0 4px 0 darken($color, 10);
	outline: none;
	transition: .25s;
	&:hover{
		box-shadow: 0 4px 0 $color;
		background-color: darken($color, 10);
		text-decoration: none;
		color: #fff;
	}
	&:active{
		transition: .07s !important;
		box-shadow: none;
		transform: translateY(2px)
	}
}

// =============================================================================
// burger menu
// =============================================================================

@mixin burger($color, $size) {
	cursor: pointer;
	display: block;
	width: $size;
	height: calc(#{$size} - 10%);
	position: relative;
	& :only-child{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		display: block;
		width: 100%;
		height: 17%;
		transition: .25s;
		background-color: $color;
		border-radius: 1.5px;
		&::before, &::after{
			content: '';
			transition: .25s;
			position: absolute;
			display: block;
			width: 100%;
			height: 100%;
			background-color: $color;
			border-radius: 1.5px;
		}
		&::before{
			transform: translateY(-200%)
		}
		&::after{
			transform: translateY(200%)
		}
	}
}

@mixin menu-anim-1{
	& :only-child{
		background-color: transparent;
		&::before{
			transform: translateY(0) rotate(45deg);
		}
		&::after{
			transform: translateY(0) rotate(-45deg);
		}
	}
}

@mixin menu-anim-2{
	& :only-child{
		background-color: transparent;
		&::before{
			transform: translateY(0) rotate(-135deg);
		}
		&::after{
			transform: translateY(0) rotate(-45deg);
		}
	}
}

@mixin menu-anim-3{
	& :only-child{
		background-color: transparent;
		&::before{
			transform: translateY(0) rotate(45deg);
		}
		&::after{
			transition-delay: .14s;
			transform: translateY(0) rotate(135deg);
		}
	}
}

@mixin menu-anim-4{
	& :only-child{
		&::before{
			width: 50%;
			transition-delay: .1s;
			transform-origin: right;
			transform: translate(89%, 0) rotate(35deg);
		}
		&::after{
			width: 50%;
			transform-origin: right;
			transform: translate(89%, 0) rotate(-35deg);
		}
	}
}
