/*
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
*/

:root{
    --accent: #11749e;
    --text: #fff;
}





/*global*//*global*//*global*//*global*//*global*//*global*//*global*//*global*//*global*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

a,li,a:hover,a:focus,ul{
    text-decoration: none;
    color: #fff;
    outline: none;
}
body,html{
    overflow-x: hidden; 
}
header{
    overflow-x: hidden;
}
.act-over-hid{
    overflow-y: hidden !important;
}
.h2{
    font-size: 37px;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
}
.h1{
    text-align: center;
    color: #f5f5f5;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 130px;
    line-height: 1;
}
.h3{
    color: #222222;
    text-align: center;
    line-height: 37px;
    font-weight: 400;
    font-size: 30.06px
}

nav>li, ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.center{
    text-align: center;
}
section{
    -webkit-animation-duration: .4s;
            animation-duration: .4s;
}








/*burger*//*hidden-mnu*//*burger*//*hidden-mnu*//*burger*//*hidden-mnu*//*burger*//*hidden-mnu*//*burger*//*hidden-mnu*/
.burger{
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    -o-transition: transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
    z-index: 150;
    cursor: pointer;
    display: none;
    position: absolute;
    color: #fff;
    right: 0;
    top: 64%;
    font-size: 23px;
    margin-right: 15px;
    height: 24px;
    width: 24px;
}

.bg-active{
    position: fixed;
    top: 10%;
}

.bg-inner, .bg-inner::before, .bg-inner::after{
    -webkit-transition: .35s;
    -o-transition: .35s;
    transition: .35s;
}
.bg-active > .bg-inner{
   -webkit-transform-origin: center;
       -ms-transform-origin: center;
           transform-origin: center;
   -webkit-transform: rotate(45deg) ;
       -ms-transform: rotate(45deg) ;
           transform: rotate(45deg) ;
}
.bg-active > .bg-inner::before{
    -webkit-transform-origin: center;
        -ms-transform-origin: center;
            transform-origin: center;
    width: 0;
}
.bg-active > .bg-inner::after{
    -webkit-transition-delay: .1s;
         -o-transition-delay: .1s;
            transition-delay: .1s;
    -webkit-transform-origin: center;
        -ms-transform-origin: center;
            transform-origin: center;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    margin-top: -7px;
}
.bg-inner, .bg-inner::before, .bg-inner::after{
    width: 100%;
    height: 3px;   
    background-color: #fff;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-transition: -webkit-transform .35s;
    transition: -webkit-transform .35s;
    -o-transition: transform .35s;
    transition: transform .35s;
    transition: transform .35s, -webkit-transform .35s;
}
.bg-inner::before{
    content: '';
    display: block;  
    top: -7px;  
    -webkit-transform: unset;  
        -ms-transform: unset;  
            transform: unset;
}
.bg-inner::after{
    content: '';
    display: block;  
    top: 7px;  
    -webkit-transform: unset;  
        -ms-transform: unset;  
            transform: unset;
}
.hidden-mnu{
    padding: 3% 0;
    z-index: 100;
    position: fixed;
    right: 0;
    top: 0;
    background-color: #323232;
    height: 100vh;
    width: 50vw;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    -webkit-transform: translateX(100vw);
        -ms-transform: translateX(100vw);
            transform: translateX(100vw);
}
.hidden-mnu-active{
    position:fixed;
    overflow:hidden;
    -webkit-transform: translateX(0) !important;
        -ms-transform: translateX(0) !important;
            transform: translateX(0) !important;
}
.hidden-mnu > nav{
    overflow-y: hidden !important;
    height: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.hidden-mnu > nav >ul{
    display: block;
    width: 100%;
}
.hidden-mnu > nav >ul >li{
    width: 100%;
    text-align: center;
}
.hidden-mnu > nav >ul >li > a{
    display: block;
    padding: 4% 0;
    width: 100%;
    font-size: 17px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.hidden-mnu > nav >ul >li > a:hover{
    background-color: #11749E;
}

.hidden-mnu > .h-logo{
    margin-left: 20%;
}
.hidden-mnu > .h-logo > span{
    margin-left: 10px;
    vertical-align: middle;
    font-size: 30px;
    color: #ffffff;
}









/*header*//*header*//*header*//*header*//*header*//*header*//*header*/
.s-header{
    overflow: hidden;
    min-height: 100vh;
    background: url(../img/bg-header.jpg ) no-repeat #454442 center top / cover;
    background-color: #454442;
}

.h-logo{
    margin-top: 20px;
}
.h-menu > ul{
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 50px;
}
.h-menu ul li a{
    font-weight: 600;
    display: block;
    font-size: 15px;
    padding: 0 4px 40px 4px;
}
.h-menu ul li a:hover{
    padding-bottom: 35px;
    border-bottom: 5px solid #11749e;
}
.h-socnet{
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    color: #ffffff;
}
.h-socnet .fa{
    font-size: 18px;
}
.h-line{
    width: 1px;
    background-color: #7e7d7c;
    width: 100vw;
    margin: 0;   
}
.container{
    position: relative;
}

.h-center{
    margin-top: 20%;
    text-align: center;
}

.sub-word{
    white-space: nowrap;
    padding: 0;
    margin-right: -20px;
    text-align: center;
    color: #11749e;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 15.4px;
    font-size: 23px;
    font-family: 'Open Sans', sans-serif;
}
.scroll {
    position: absolute;
    bottom: 4%;
    left: 50%;
    margin-left: -22.5px;
    text-align: center;
}
.scroll-icon{
    color: #f5f5f5;
    font-size: 10px;
    border-radius: 39%;
    height: 55px;
    width: 35px;
    border: 2px solid #fcfcfc;
    display: inline-block;
    position: relative;
}
.scroll-icon > .fa{
    position: absolute;
    left: 50%;
    margin-left: -1.5px;
    width: 3px;
    border-radius: 20px;
    height: 10px;
    background-color: #fff;

}
.scroll-down{
    color: #fff;
    font-size: 13px;
    margin-bottom: 15px;
}














.s-about{
    background-color: #11749e;
    position: relative;
}
.s-about > .container{
    z-index: 10;
}
.bg-letter{
    z-index: 0;
    display: block;
    line-height: .75;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    font-family: Roboto;
    color: #ffffff;
    opacity: .18;
    font-size: 247.18px;
    font-weight: 700;
}  
.s-about > .bg-letter{
    top: 100px;
} 

.h2_a{
    text-align: center;
    padding-top: 150px;
}

.a-items{
    margin-top: 20%;
    padding-bottom: 15%;
}
.a-item{
    -webkit-animation-duration: .8s;
            animation-duration: .8s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 15%;
}
.item-boxIcon{
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    text-align: center;
    border-radius: 50%;
    background-color:#2e85aa;
    width: 133px;
    height: 133px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.item-boxIcon:hover{
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .3);
            box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}
.item-icon{
    color: #ffffff;
    font-size: 45px;
}
.item-hl{
    font-size: 18px;
    color: #fff;
    margin: 23px 0 30px 0;
}
.item-text{
    font-size: 15px;
    color: #ffffff;
    max-width: 240px;
    text-align: center;
}














.s-blog{    
    color: #222222;
    background-color: #FCFCFC;
    position: relative;
}
.bg-letter_b{
    color: #222222;
    top: 90px;
}
.h2_b{
    color: #222222;
    padding-top: 160px;
    text-align: center;
}
.h3_b{
    margin-top: 100px;
}
.b-items{
    padding-bottom: 5%;
    padding-top: 5%;
}
.b-item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.b-img{
    overflow: hidden;
    width: 100%;
    text-align: center;
}
.b-img>img:hover{
    -webkit-transform: scale(1.2,1.2);
        -ms-transform: scale(1.2,1.2);
            transform: scale(1.2,1.2);
    opacity: 1;
}
.b-img>img{
    opacity: .8;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    height: 280px;
    width: 260px;
}
.b-title{
    color: #11749e;
    font-size: 18px;
    font-weight: 600;
    line-height: 36px;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 20px;
}
.b-textBlock{
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
}
.b-item{
    padding: 20px 0;
}









.s-action{
    background-color: #11749e;
    padding: 5% 0;
}
.ac-item{
    margin: 10px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}
.ac-icon{
    color: #ffffff;
    font-size: 75px;
}
.ac-textBlock{
    margin-bottom: 9px;
    margin-left: 10px;
    color: #ffffff;
    font-size: 15px;
    padding-right: 5%;
}









.s-skills{
    padding: 0;
    margin: 0;
    background: url("../img/bg-akita.jpg") no-repeat #1c1c1c center center / cover;
    padding: 5% 0;
    color: #fff;
}
.sk-title{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 25px;
}
.sk-textBlock{
    font-size: 15px; 
    line-height: 24px;
    margin: 30px 0 40px 0;
}
.sk-graphic{
    border-radius: 4px;
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 20px;
    width: 80%;
    height: 40px;
    background-color: #11749e;
    -webkit-animation-delay: .2s;
            animation-delay: .2s
}
.graphic-text{
    text-transform: uppercase;
    font-weight: 600;
    line-height: 24px;
}
.sk-graphic-2{
    width: 90%;
    -webkit-animation-delay: .4s;
            animation-delay: .4s
}
.sk-graphic-3{
    width: 100%;
    -webkit-animation-delay: .6s;
            animation-delay: .6s
}
.sk-left{
    margin-top: 30%;
}








.s-team{
    color: #222222;
}
.bg-letter_t{
    margin-top: 80px;
    color: #222222;
}
.h2_t{
    padding-top: 130px;
    color: #222222;
}

.t-items{
    margin-top: 10%;
    padding-bottom: 8%;
}
.t-item{
    margin: 20px 0;
}
.person-img{
    width: 100%;
    height: 400px;
    overflow: hidden;
   
}
.person-img > .t-img{
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    width: 100%; 
    height: 100%;
    opacity: .8;   
}
.person-img > .t-img:hover{
    -webkit-transform: scale(1.16,1.16);
        -ms-transform: scale(1.16,1.16);
            transform: scale(1.16,1.16);
    opacity: 1;
}
.t-person{
    position: relative;
}
.person-desc{
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    left: 50%;
    top: 87%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color: #fff;
    width: 80%;
}
.person-name{
    color: #11749e;
    font-size: 600px;
    font-size: 20px;
    text-transform: uppercase;
}
.person-job{
    font-size: 15px;
    font-weight: 600;
    color: #000000;
}








.s-contact{
    position: relative;
    padding-bottom: 5%;
    background: url(../img/bg-contact.jpg) no-repeat #222222 center top /cover;
}

.bg-letter_c{
    top: 145px;
}
.h2_c{
    color: #fff;
    padding-top: 215px;
}
.c-inputs{
    margin-top: 10%;
}
.inp{
    -webkit-transition: .1s;
    -o-transition: .1s;
    transition: .1s;
    background: transparent;
    border: 1px solid #fff;
    width: 100%;
    height: 45px;
    padding: 0 10px;
    color: #fff;
    margin: 10px 0;
}
.inp:focus,.big-inp:focus{
    border-radius: 2px;
    border-width: 3px;
}
.inp::-webkit-input-placeholder{
    color: #ffffff !important;
    font-size: 15px;
    font-weight: 600;
}
.inp:-ms-input-placeholder{
    color: #ffffff !important;
    font-size: 15px;
    font-weight: 600;
}
.inp::-ms-input-placeholder{
    color: #ffffff !important;
    font-size: 15px;
    font-weight: 600;
}
.inp::placeholder{
    color: #ffffff !important;
    font-size: 15px;
    font-weight: 600;
}
.big-inp{
    -webkit-transition: .1s;
    -o-transition: .1s;
    transition: .1s;
    background: transparent;
    border: 1px solid #fff;
    width: 100%;
    height: 150px;
    padding: 15px 10px;
    color: #fff;
    margin-top: 20px;
}
#callBack{
    outline: none;
    cursor: pointer;
    margin-top: 4%;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 30px;
    display: block;
    background-color: #11749e;
    border: none;
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
    border-radius: 3px;
    -webkit-box-shadow: 0 3.5px 0 #094761;
            box-shadow: 0 3.5px 0 #094761;
    -webkit-transition: background-color .35s;
    -o-transition: background-color .35s;
    transition: background-color .35s;
    display: inline-block;

}
.button-wrap{
  text-align: center;  
}
#callBack:hover{
    -webkit-box-shadow: 0 3.5px 0 #11749e;
            box-shadow: 0 3.5px 0 #11749e;
    background-color: #094761;
}
#callBack:active{
    -webkit-box-shadow: 0 3.5px 0 #094761;
            box-shadow: 0 3.5px 0 #094761;
}






.s-map{
      height: 300px;
      width: 100vw;
}

.google-map{
    -webkit-filter: brightness(0.3);
            filter: brightness(0.3);
   width: 100%;
    height: 100%;
}
.google-map:hover{
    -webkit-filter: brightness(.6);
            filter: brightness(.6);
}
.s-footer{
  
    color: #cfc9c9;
    padding: 2% 0;
    background: #222222;
}

.s-footer > .container :last-child{
    float: right;
}
.s-footer a{
    font-size: 15px;
    font-weight: 600;
    text-decoration: underline;
    margin-left: 4px;
}