*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}
body,html{
    overflow: hidden;
}
.logo{
    position: absolute;
    top: 70px;
    left: 3%;
}
.logo > img{
    opacity: 1;
    height: 100px;
}
.all-composition{
    width: 350px;
    height: 50%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-40%);
}

.wrap{
    position: relative;
    height: 100vh;
    background: url(img/bg.png) no-repeat center center / cover;
    
}

.form{
    transition: .3s;
    transition-delay: 0s;
    opacity: 0;
    transform: translateX(50px);
}
.mnu-active{
    transform: translate(0);
    opacity: 1;
}
.setting{
    align-items: center;
    position: absolute;
    bottom: 20px;
    left: 100px;
    display: flex;
    align-items: flex-end;
}
.inputs-choice{
    display: flex;
    align-items: center;
    justify-content: center;
}
.for-work{
    margin-bottom: 10px;
}
.choice-btn{
    cursor: pointer;
    background: #052F4A;
    box-shadow: 2px 2px 0px rgb(1, 19, 24);
    border: none;
    font-size: 15px;
    color: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.choice-btn:active{
    box-shadow: none;
    margin-left: 2px;
    margin-right: -2px;
    margin-bottom: -2px;
}
.spawn-word span{
    display: none;
}
.spawn-word::before{
    display: block;
    content: 'PAUSE';
    
}

.choice{
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    background: #dd5454;
    color: #fff;
    font-family: 'Dosis', sans-serif;
    padding: 10px 8px;
    width: 30px;
    border-radius: 40px;
    border: none;
    outline: none;  
    font-size: 20px;
}
.inputs-choice :nth-child(2){
    margin-right: 15px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 1.5px solid #0C1828;
    width: 32px;
}
.inputs-choice > :first-child{
    margin-left: 15px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#choice_min_rest, #choice_sec_rest{
    background: rgb(98, 221, 98);
}
.arrow{
    position: absolute;
    color: #ffffff4f;
    font-size: 40px;
    top: 20%;
    left: 10.5%;
}
.icon > img{
    width: 35px;
    cursor: pointer;
    padding: 4px;
}
.timer{
    color: #fff;
    font-size: 100px;
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#time{
    font-family: 'Dosis', sans-serif;
    font-weight: 200;
}

#start,#stop{
    letter-spacing: 2px;
    display: block;
    width: 130px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 20px;
    text-decoration: none;
    outline: none;
    color: #fff;
    font-size: 14px;
    background-color:  #104855;
    box-shadow: 4px 4px 0 #07242b;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 40px;
}
#start:active,#stop:active{
    box-shadow: none;
    transform: translate(4px,4px)
}
#start :last-child{
    margin-left: 5px;
}
.buttons{
    margin-top: 1%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#btn-inf{
    cursor: pointer;
    background: none;
    border: none;
    font-size: 27px;
    padding: 10px;
    position: absolute;
    bottom: 8px;
    left: 2%;
}
#btn-inf > img{
    width: 35px;
}
@media (max-width: 500px){
    .logo{
        display: none;
    }
    .buttons{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        width: 100%;
    }
    .setting{
        left: 20%;
    }
}
@media (max-height: 600px){
    .all-composition{
        top: 15%;
    }
}

