{% extends 'metro_map/base.html' %}
{% block left-options %}
	{{ block.super }}
{% endblock left-options %}
{% block content %}
<div class="card station-details">
		<div class="card-header station-detail_header">
					<a	href="#" class='close-detail'><i class="fas fa-times"></i></a>
		</div>
</div>
<div class="map" id="map">
	<svg viewBox='0 0 5972 6954.6665'>
		{% for station in stations %}
			
				{% if station.line.all|length == 1%}
					<a href="{{ station.get_absolute_url }}" ><path class="station {{ station.slug }} v-1" d="{{ station.d }}" {% for line in station.line.all %} style="stroke: {{ line.color }}; fill: {{ line.color }}"{% endfor %} /> </a> 
				{% elif station.line.all|length > 2 %}
					<linearGradient id="for-{{ station.slug }}">
						{% for line in station.line.all %}
							{% if forloop.counter  == 1 %}
								<stop offset="0%" stop-color="{{ line.color }}" />
							{% elif forloop.counter == 2 %}
								<stop offset="60%" stop-color="{{ line.color }}" /> 
							{% else %}
								<stop offset="100%" stop-color="{{ line.color }}" /> 
							{% endif %}
						{% endfor %}
					</linearGradient>	
					<a href="{{ station.get_absolute_url }}" ><path class="station {{ station.slug }} v-multi" stroke="url(#for-{{station.slug }})" fill="url(#for-{{station.slug }})" d="{{ station.d }}" /> </a>				
				{% else %}
					<linearGradient id="for-{{ station.slug }}">
						{% for line in station.line.all %}
							{% if forloop.counter  == 1 %}
								<stop offset="0%" stop-color="{{ line.color }}" />
							{% else %}
								<stop offset="100%" stop-color="{{ line.color }}" /> 
							{% endif %}
						{% endfor %}
					</linearGradient>
					<a href="{{ station.get_absolute_url }}" ><path class="station {{ station.slug }} v-multi" stroke="url(#for-{{station.slug }})" fill="url(#for-{{station.slug }})" d="{{ station.d }}" /> </a>				
				{% endif %}

				
		{% endfor %}
	</svg>
</div>
{% endblock content %}

{% block scriptblock %}
	<script>
			{% for user_station in userStations %}
				$('.{{user_station.station.slug}}').addClass('visit_station');
			{% endfor %}
	</script>
{% endblock scriptblock %}