<div class="card-header station-detail_header">
			{% if userstation != None %}
				<h7 class="user-station-title">В списке посещенных <i class="fas fa-check-circle fa-check-circle_style"></i></h7>
			{% endif %}
				<a	href="#" class='close-detail'><i class="fas fa-times"></i></a>
		</div>
		<div class="card-body station-details_body">
			<div class="station-detail_top">
					<h3 class="detail_title">{{choice_station.title}}</h3>
					{% for line in choice_station.line.all %}
					<div class="detail_line" style="background: {{ line.color }}">{{ line.number }}</div>
					{% endfor %}
			</div>
			
			{% if user.is_authenticated %}
				
				{% if userstation == None %}
						<form action="{% url 'new_station' choice_station.slug %}" method="post">
							{% csrf_token %}
							{{ formaddstaion }}
							<div class="text-center"><button type="submit" class="btn btn-success mt-2">Я посетил эту станцию</button></div>
						</form>
				{% else %}
					<div class="when-visit">
						Ты посетил ее <strong>{{ userstation.data_visit }}</strong> 
					</div>
					<div class="impressions-block mt-3">
						{% if userstation.impressions %}
							<div class="alert alert-dark" role="alert">
								{{ userstation.impressions }}
							</div>
						{% else %}
						<div class="alert alert-warning" role="alert">
								У тебя не осталось впечатлений
							</div>
						{% endif %}
					</div >
				<div class="delails-buttons">
					<button type="submit" class="btn btn-light mr-3">Изменить</button>
					<form action="/remove-from-list/{{choice_station.slug}}/" method="post" >{% csrf_token %}<button type="submit" class="btn btn-danger">Удалить из списка</button></form>
				</div>
				{% endif %}
					
			{% else %}
			<div class="alert alert-danger" role="alert">
					Зарегестируйся или войди, чтобы добавить <br> станцию, в список посещенных
				</div>
			{% endif %}
		</div>

	<script>
	$(".close-detail").click(function (e) { 
      e.preventDefault();
      $(".station-details").hide(400)
		});
	</script>
